<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>叫号</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script th:src="@{/static/layui.js}" charset="utf-8"></script>
    <link rel="stylesheet" th:href="@{/static/css/layui.css}">

</head>

<body>
<fieldset class="layui-elem-field layui-field-title">
    <legend>排队订单</legend>
</fieldset>
<div class="layui-bg-gray">
    <table class="layui-table" id="queuingList" lay-filter="queuingList"></table>
</div>

<div class="site-text" style="margin: 5%; display: none" id="window"  >
    <form class="layui-form" id="queuingForm" method="post" lay-filter="queuingForm">
        <div class="layui-form-item">
            <label class="layui-form-label">排队单号</label>
            <div class="layui-input-block">
                <input type="text" id="queuingOrderId" name="queuingOrderId" lay-verify="title" autocomplete="off" placeholder="" class="layui-input"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">开始排队时间</label>
            <div class="layui-input-block">
                <input type="text" id="queuingBeginTime" name="queuingBeginTime" lay-verify="title" autocomplete="off" placeholder="" class="layui-input"/>
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">就餐人数</label>
            <div class="layui-input-block">
                <input type="text" id="guestNumber" name="guestNumber" lay-verify="title" autocomplete="off" placeholder="" class="layui-input"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">手机号</label>
            <div class="layui-input-block">
                <input type="text" id="phoneNumber" name="phoneNumber" lay-verify="title" autocomplete="off" placeholder="" class="layui-input"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">姓氏</label>
            <div class="layui-input-block">
                <input type="text" id="lastName" name="lastName" lay-verify="title" autocomplete="off" placeholder="" class="layui-input"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="text" id="gender" name="gender" lay-verify="title" autocomplete="off" placeholder="" class="layui-input"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">排队状态</label>
            <div class="layui-input-block">
                <input type="text" id="queuingStatus" name="queuingStatus" lay-verify="title" autocomplete="off" placeholder="" class="layui-input"/>
            </div>
        </div>

    </form>
</div>


<script type="text/html" id="toolbarOfQueuing">
    <div className="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
    </div>
</script>

<script type="text/html" id="barOfOrdering">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    layui.use(['table','layer','form'], function(){
        var table = layui.table;
        var layer = layui.layer;
        var form = layui.form;
        var $ = layui.$;

        table.render({
            elem: '#queuingList'
            ,url: '/queuingForm/selectAll'
            ,toolbar: '#toolbarOfQueuing' //开启头部工具栏，并为其绑定左侧模板
            ,defaultToolbar: ['exports', 'print']
            ,page: false
            ,cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    ,{field: 'queuingOrderId', title: '排队单号', sort: true,align: 'center', fixed: 'left'}
                    ,{field: 'queuingBeginTime', title: '排队开始时间', minWidth:160, align: 'center',  sort: true}
                    ,{field: 'guestNumber', title: '就餐人数',align: 'center'}
                    ,{field: 'phoneNumber', title: '手机号',align: 'center'}
                    ,{field: 'lastName', title: '姓氏',align: 'center'}
                    ,{field: 'gender', title: '性别',align: 'center'}
                    ,{field: 'queuingStatus', title: '排队状态',align: 'center'}
                    ,{fixed: 'right', title:'操作', toolbar: '#barOfOrdering', width:150}
                ]
            ]
        });

        //头工具栏事件
        table.on('toolbar(queuingList)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：'+ data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选': '未全选');
                    break;
            }
        });

        table.on('tool(queuingList)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.open({
                    type:1
                    ,skin: 'layui-layer-molv'
                    ,area: ['350px', '400px']
                    ,title: ['再次确定删除操作','font-size:18px']
                    ,btn: ['确定', '取消']
                    ,shadeClose: true
                    ,shade: 0 //遮罩透明度
                    ,maxmin: true //允许全屏最小化
                    ,content: $("#window")
                    ,success:function (layero, index) {
                        $('#queuingOrderId').val(data.queuingOrderId);
                        $("#queuingOrderId").addClass('layui-disabled');

                        $('#phoneNumber').val(data.phoneNumber);
                        $("#phoneNumber").addClass('layui-disabled');

                        $('#lastName').val(data.lastName);
                        $("#lastName").addClass('layui-disabled');

                        $('#gender').val(data.gender);
                        $("#gender").addClass('layui-disabled');

                    },yes:function (index, layero) {
                        var dataJson = form.val("queuingForm");
                        console.log(JSON.stringify(dataJson));
                        $.ajax({
                            url: "/queuingForm/delete",
                            type: "post",
                            data: JSON.stringify(dataJson),
                            dataType: "json",
                            contentType: "application/json",

                            success: function (data) {
                                if (data.code == 710){
                                    obj.del();
                                    layer.close(index);
                                }
                            }

                        })

                    }

                });
            } else if(obj.event === 'edit'){
                //需要动态加载出一个弹出层
                //写入选中的对应行的json数据信息
                //将可以修改的部分转换成表单数据
                //提交后调用update对数据进行修改
                layer.open({
                    type: 1
                    ,skin: 'layui-layer-molv'
                    ,area: ['350px', '400px']
                    ,title: ['叫号','font-size:18px']
                    ,btn: ['确定', '取消']
                    ,shadeClose: true
                    ,shade: 0 //遮罩透明度
                    ,maxmin: true //允许全屏最小化
                    ,content: $("#window")
                    ,success:function (layero, index){
                        $('#queuingOrderId').val(data.queuingOrderId);
                        $("#queuingOrderId").addClass('layui-disabled');

                        $('#queuingBeginTime').val(data.queuingBeginTime);
                        $("#queuingBeginTime").addClass('layui-disabled');


                        $('#actualArriveTime').val(data.actualArriveTime);
                        $("#actualArriveTime").addClass('layui-disabled');

                        $('#guestNumber').val(data.guestNumber);
                        $("#guestNumber").addClass('layui-disabled');

                        $('#phoneNumber').val(data.phoneNumber);
                        $("#phoneNumber").addClass('layui-disabled');

                        $('#lastName').val(data.lastName);
                        $("#lastName").addClass('layui-disabled');

                        $('#gender').val(data.gender);
                        $("#gender").addClass('layui-disabled');


                        $('#queuingStatus').val(data.queuingStatus);

                    },yes:function (index, layero) {
                        var dataJson = form.val("queuingForm");
                        console.log(JSON.stringify(dataJson));
                        $.ajax({
                            url: "/queuingForm/update",
                            type: "post",

                            data: JSON.stringify(dataJson),
                            dataType: "json",
                            contentType: "application/json",

                            success: function (result) {
                                table.reload('queuingList')}
                        });
                        layer.closeAll();
                    }
                })

            }
        });




    });

</script>
</body>
</html>