# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\毕设\后端代码\queuingSys\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
